body {
    max-width: 100vw;
}

.logo{
    background-color: #FFFFFF;
            color: #086840;
            margin: 0 auto;
            padding: 10px;

            display: flex;
            flex-wrap: wrap;
}
header {
            background-color: #086840;
            color: #FFFFFF;
            text-align: center;
            margin: 0 auto;
            padding: 10px;
        }

        main {
            background-color: #FFFFFF;
            color: #086840;
            margin: 0 auto;
            padding: 10px;

            display: flex;
            flex-wrap: wrap;
        }
        article{
            display: flex;

            border: 1px solid #086840;

            margin: 16px;
            gap: 16px;
            padding: 16px;

            flex: 1 1 25%;

            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        img {
            width: 130px;
            height: 130px;
        }

        .artigo-autor {
            font-weight: bold;
        }

 